repos:
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.20
    hooks:
      - id: tflint
        args:
          - "--module"
          - "--config=.tflint.hcl"
          - "--chdir=awsresource"
